<body class="bg-light">
    <div class="d-flex flex-column align-items-center justify-content-start min-vh-100 px-3 py-4 overflow-auto">
        <div class="w-100" style="max-width: 700px;">
            <h2 class="text-center mb-4">Categoria: {{categoria.nome}}</h2>

            {{#each livros}}
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title">{{nome}}</h3>
                        <h6 class="card-subtitle mb-2 text-muted">Autor: {{autor}}</h6>
                        <p class="mb-2">
                            <small class="text-muted">Criada em: {{publicado}}</small>
                        </p>
                        <a href="/user/resenha/{{_id}}" class="btn btn-primary">Ler Mais</a>
                    </div>
                </div>
            {{else}}
                <h5>Nenhuma postagem encontrada nesta categoria.</h5>
            {{/each}}
        </div>
    </div>
</body>
