<h1>{{categoria.nome}}</h1>
{{#each livros}}
    <div class="card mt-4">
        <div class="card-body">
            <h3>{{nome}}</h3>
            <h6>Autor: {{autor}}</h6>
            <a href="/user/resenha/{{_id}}">
                <button class="btn btn-success">Ler Mais</button>
            </a>
            <br>
            <small>Criada em: {{publicado}}</small>
            <br>
        </div>
    </div>
{{else}}
    <h5>No posts!</h5>
{{/each}}